@import './colors';

.calendar-container {
	display: flex;
	vertical-align: middle;
	height: 100%;
	justify-content: space-evenly;	
	font-family: 'Courier New', Courier, monospace;

	.title {
		text-align: center;
		padding: 5px;
		color: $color-secondary;
	}

	.btn {
		align-self: center;
	}

	.arrow {
		height: 25px;
		width: 25px;
		border-top: 15px solid;
		border-left: 15px solid;
		border-color: $color-inactive;
	
		&:hover { 
			cursor: pointer;
			border-color: $color-primary;
		 }
	}
	
	.arrow-left {
		@extend .arrow;
		transform: rotate(-45deg);
	}
	
	.arrow-right {
		@extend .arrow;
		transform: rotate(135deg);
	}
}

@media(min-width:768px) {
	.calendar-flex {
		display: flex;
		flex-direction: row;
	}
}

.calendar {
	border: #ccc solid 1px;
	padding: 5px;
	margin: 5px;
	background: #fff;
	font-size: 0.95em;

	td.calendar-header {
		vertical-align: middle;
	}

	td {
		width: 35px;
		height: 35px;
		text-align: center;
		border: 0;
		padding: 0px;
		margin: 0px;
	}

	.calendar-flex {
		display: flex;
		flex-direction: column;
	}

	.calendar-header {
		background: $color-primary;
		border-bottom: none;
		text-align: center;
		border: 0px !important;
		color: $color-secondary;
	}

	.calendar-item {
		// border-radius: 18px;
		// padding: 1px;
		border: 0px;
	}

	.calendar-item-active {
    	color: $color-secondary;
	}
	
	.calendar-item-inactive {
		color: $color-inactive;
	}

	.calendar-item-busy {
		background-color: $color-primary;
    	color: $color-secondary;
	}
}

.calendar-big .calendar-event {
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: 3px;
    padding: 3px;
    margin: 3px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90px;
}

.calendar-big .calendar td {
    vertical-align: top;
    width: 120px !important;
    height: 90px !important;
}

.calendar-big .calendar-item-busy {
    background-color: transparent !important;
}