@import './colors';

.calendar-container {
	display: flex;
	vertical-align: middle;
	height: 100%;
	justify-content: space-evenly;	
	font-family: 'Courier New', Courier, monospace;

	.title {
		text-align: center;
		padding: 5px;
		color: darkcyan;
	}

	.btn {
		align-self: center;
	}

	.arrow {
		height: 25px;
		width: 25px;
		border-top: 15px solid;
		border-left: 15px solid;
		border-color: $color-inactive;
	
		&:hover { 
			cursor: pointer;
			border-color: $color-active;
		 }
	}
	
	.arrow-left {
		@extend .arrow;
		transform: rotate(-45deg);
	}
	
	.arrow-right {
		@extend .arrow;
		transform: rotate(135deg);
	}
}

@media(min-width:768px) {
	.calendar-flex {
		display: flex;
		flex-direction: row;
	}
}

.calendar {
	border: #ccc solid 1px;
	padding: 5px;
	margin: 5px;
	background: #fff;
	font-size: 0.95em;

	td {
		width: 36px;
		height: 36px !important;
		text-align: center;
		border: 0;
		padding: 0px;
		margin: 0px;
	}

	.calendar-flex {
		display: flex;
		flex-direction: column;
	}

	.calendar-header {
		background: $color-active;
		border-bottom: none;
		text-align: center;
		border: 0px !important;
		color: darkcyan;
	}

	.calendar-item {
		// border-radius: 18px;
		// padding: 1px;
		border: 0px;
	}

	.calendar-item-active {
		color: $color-active;
	}
	
	.calendar-item-inactive {
		color: $color-inactive;
	}
}

  