// @import "~bootstrap/scss/bootstrap";
// Write your custom styles here

@import './calendar';

.events-0 {
    background-color: $color-white;
}

.events-1 {
    background-color: $color-active;
    color: darkcyan !important;
}

.events-2 {
    background-color: lightcoral;
    color: white !important;
}