// @import "~bootstrap/scss/bootstrap";
// Write your custom styles here

@import './colors';
@import './calendar';

.events-0 {
    background-color: $color-white;
}

.events-1 {
    background-color: $color-primary !important;
    color: $color-secondary !important;
}

.events-2 {
    background-color: lightcoral !important;
    color: $color-white !important;
}

.example-seperator {
    border-bottom: dotted 2px $color-primary;
    padding-bottom: 50px;
}
